* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "苹方", "黑体";
}

body,
html,
#app {
  /* padding-bottom: 60px; */
  height: 100%;
}

.text-center {
  text-align: center;
  margin-top: 50%;
}

.none {
  display: none;
}

.nav_bom {
  height: 55px;
  position: fixed !important;
}

img {
  max-width: 100%;
}

.nav_bom .iconfont {
  display: block;
  font-size: 20px;
  padding-top: 5px;
  color: #bfbfbf;
}

.nav_bom .list {
  line-height: 26px;
}

.nav_bom .weui-bar__item_on {
  color: #8dc13b;
}

.nav_bom .weui-bar__item_on .iconfont {
  color: #8dc13b;
}

.nav_bom .add .iconfont {
  font-size: 40px;
  padding: 0;
  color: #8dc13b;
  line-height: 55px;
}

.nav_bom_alt {
  /* display: none; */
  position: fixed;
  bottom: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 235px;
  transition: all .5s;
}

.nav_bom_zoom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 99;
}

.nav_bom_alt .close {
  width: 60px;
  margin: 0 auto;
}

.nav_bom_alt .close i {
  font-size: 45px;
  transform: rotate(44deg);
}

.nav_bom_alt ul {
  height: auto;
  overflow: hidden;
}

.nav_bom_alt li a {
  display: block;
  color: #505050;
}

.nav_bom_alt li {
  float: left;
  width: 33.333%;
  text-align: center;
  font-size: 18px;
}

.nav_bom_alt .iconfont {
  margin-top: 20px;
  font-size: 30px;
  color: #ef7d1d;
  display: block;
  text-align: center;
}

li {
  list-style: none;
}

.table_cc {
  display: table;
}

.table_cc .cell {
  display: table-cell;
  vertical-align: middle;
}

input,
textarea {
  height: 30px;
  width: 100%;
  background: #ebeef3;
  border-radius: 5px;
  border: 0;
  padding: 6px 12px;
  box-sizing: border-box;
}

/* 动画 */

.vux-pop-out-enter-active,
.vux-pop-out-leave-active,
.vux-pop-in-enter-active,
.vux-pop-in-leave-active {
  will-change: transform;
  transition: all 250ms;
  height: 100%;
  top: 0;
  position: absolute;
  backface-visibility: hidden;
  perspective: 1000;
}

.vux-pop-out-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.vux-pop-out-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.vux-pop-in-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.vux-pop-in-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.submit_btn {
  width: 80%;
  background: #8dc13b;
  color: #fff;
  text-align: center;
  height: 37px;
  line-height: 37px;
  border-radius: 5px;
  margin: 30px auto;
}

.submit_btn:active {
  background: #ccc;
}

.header {
  position: relative;
  height: 45px;
  line-height: 45px;
  background: #8dc13b;
  width: 100%;
  color: #fff;
}

.header a {
  color: #fff;
  font-size: 15px;
}

.header .iconfont {
  font-size: 20px;
}

.header .left {
  position: absolute;
  font-size: 15px;
  left: 0;
  top: 0;
  padding-left: 10px;
}

.header .title {
  text-align: center;
  font-size: 18px;
}

.header .right {
  top: 0;
  position: absolute;
  font-size: 15px;
  right: 10px;
}

.header .right a{
  color: #fff;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

  {
  opacity: 0;
}
